<form action="/" method ="post" class="search">
  <%= token_tag %>
  <input type="text" class="search_field" name="search">
  <select name="topics" id="">
    <% @topics.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.name %></option>
    <% end %>
  </select>
  <button type="submit" class="search_submit">Lean</button>
</form>
