<form action="/" method ="post" class="search">
  <input type="text" class="search_field">
  <select name="topics" id="">
    <% @topics.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.name %></option>
    <% end %>
    <button type="submit" class="search_submit">Lean</button>
  </select>
</form>
