<form action="/" method ="post" class="search">
  <%= token_tag %>
  <input type="text" class="search_field" name="search">
  <select name="topics" class="topics">
    <% @topics.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.name %></option>
    <% end %>
  </select>
  <button type="submit" class="search_submit">Lean</button>
</form>

<div class="user_search_title">
  <h3><span id="term"></span> in <span id="topic"></span></h3>
</div>

<form id="radio">
    <input type="radio" name="radio" value="d3" id="d3"><label for="d3">Visualization</label>
    <input type="radio" name="radio" value="articles" id="articles"><label for="articles">Articles</label>
</form>

<div class="load">
  <h3>Reading all these papers is hard work!</h3>
  <%= image_tag "newspaper.gif" %>
  <h3>It'll be just a moment...</h3>
</div>

<div class="chart"></div>

<div class="results"></div>
