<div class="footer">
  <br>
  <h5>All trademarks, images, titles, intellectual property and anything else related to a news source or person, place or thing are property of their respective owners.</h5>
  <h5>The sentiments expressed herein  do not necessarily reflect the views of the creator but that of <a href="http://www.alchemyapi.com/">AlchemyAPI</a>.</h5>
  <h5>Lean is owned and operated by <a href = "mailto:%64%73%68%61%6D%69%73%33%31%37%40%67%6D%61%69%6C%2E%63%6F%6D">Dmitry Shamis</a>. If you have any ideas for feeds/topics, suggestions or comments, please feel free to reach out.</h5>
</div>
