<div class="nav">
  <div class="nav_title">
    <h1><a href="/" class="title">Lean</a> <span class="byline">one thought, two sides</span></h1>
  </div>

  <div class="ticker_div">
    <h3>Google's Top Searches: </h3>
    <div class="news-ticker" >
      <ul class="ticker"></ul>
    </div>
  </div>
</div>
