// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
  text-align: center;
}

.user_search_title {
  display: none;
  font-family: 'Lato', sans-serif;
  text-align: center;

  #term {
    text-transform: capitalize;
  }
}

.buttons {
  display: none;
  text-align: center;
}

.load {
  display: none;
  text-align: center;
  margin-top: 100px;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
}

.chart {
  display: none;
  width: 100%;

  svg {
    display: block;
    margin: 0 auto;

    .axis {
      font: 10px 'Cantarell', sans-serif;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }
  }
}

.results {
  display: none;
  width: 800px;
  border: 1px solid black;
  padding: 20px;
  margin: 0 auto;

  .search_title, .search_description {
    margin: 0;
  }

  .sentiment {
    text-transform: capitalize;
  }

  .sentiment_visual {
    float: right;
    margin-top: -68px;
  }
}

.historical_chart {
  display: none;

  body {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
}

